{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admintemplate/assets/images/logo-icon.png' %}"/>
  </head>
  <body style="background-image: url({% static 'img/bg_recover_ok.jpg' %}); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin: 0; display: flex; justify-content: center; align-items: center;">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Reinicialización de contraseña completada</h1>
        <p class="col-md-8 fs-4">Ahora puedes iniciar sesión utilizando tu nueva contraseña. Te recomendamos mantenerla segura y no compartirla con nadie.</p>
        <p class="col-md-8 fs-4">Si no realizaste esta solicitud, contacta al soporte de inmediato para proteger tu cuenta. ¡Gracias por confiar en nosotros!</p>
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg" type="button">Iniciar sesión</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>