<form action="{% url 'update_cat_supplier_modal' supplier.id %}" method="post">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">Editar información de proveedores</h5>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-3 text-end control-label col-form-label">{{ field.label }}{% if field.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                    <div class="col-sm-9">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <small class="col-3"></small>
                        <small class="form-text text-muted col-9">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-sm"><i class="mdi mdi-plus" ></i> Guardar</button>
        </div>
    </div>
</form>