{% csrf_token %}
{% for field in form %}
    <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-sm-4 text-end control-label col-form-label">{{ field.label }}{% if field.field.required %} <span class="text-danger">*</span>{% endif %}: </label>
        <div class="col-sm-8">
            {{ field }}
        </div>
        {% if field.help_text %}
            <small class="col-4"></small>
            <small class="form-text text-muted col-8">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <script>
        $('#id_old_password').addClass('form-control');
        $('#id_new_password1').addClass('form-control');
        $('#id_new_password2').addClass('form-control');
    </script>
{% endfor %}