{% extends 'layouts/base_admin.html' %}
{% block page_title %} Dashboard {% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
          <h6 class="text-white">Dashboard</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card card-hover bg-success">
            <div class="card-body p-2">
              <div class="d-flex no-block">
                <div class="me-3 align-self-center text-light">
                  <i class="mdi mdi-chart-areaspline" style="font-size: 3.5rem;"></i>
                </div>
                <div class="align-self-center">
                  <h2 class="mt-0 text-white">Charts</h2>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover bg-danger">
            <div class="card-body p-2">
              <div class="d-flex no-block">
                <div class="me-3 align-self-center text-light">
                  <i class="mdi mdi-collage" style="font-size: 3.5rem;"></i>
                </div>
                <div class="align-self-center">
                  <h6 class="text-white mt-2 mb-0">Total Staff</h6>
                  <h2 class="mt-0 text-white">987,563</h2>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-danger text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
          <h6 class="text-white">Tables</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-info text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
          <h6 class="text-white">Full Width</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-danger text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
          <h6 class="text-white">Forms</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-info text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
          <h6 class="text-white">Buttons</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
          <h6 class="text-white">Elements</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-success text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
          <h6 class="text-white">Calnedar</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-warning text-center">
          <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>
          <h6 class="text-white">Errors</h6>
        </div>
      </div>
    </div>
</div>
{% endblock %}
